
header {
  background-color: #ffffff;
  padding:  20px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

nav {
  margin-top: 10px;
  
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a:last-child {
  text-decoration: none;
  color: #000000;
  padding: 5px;
  font-size: 23px;
 cursor: pointer;
}
nav a :first-child{
  text-decoration: none;
  color: #ffd000;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.auth{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.auth p{
  font-size:20px;
  color: rgb(26, 0, 26);
  margin-right: 10px;
}
.auth button:first-child{
  border: none;
  border-radius: 9px;
  padding: 9px;
  background-color: rgb(3, 3, 58);
  margin-right: 10px;
  color: #ffffff;
  cursor:pointer;
}
.auth button:last-child{
  border: none;
  border-radius: 9px;
  padding: 9px;
  background-color: rgb(151, 190, 226);
  color: #000000;
  cursor:pointer;
}
.auth button:first-child:hover{
  border: none;
  border-radius: 9px;
  padding: 12px;
  background-color: rgb(9, 9, 175);
  margin-right: 10px;
  color: #ffffff;
  cursor:pointer;

}
.auth button:last-child:hover{
  border: none;
  cursor:pointer;
  border-radius: 12px;
  padding: 9px;
  background-color: rgb(44, 137, 224);
  color: #000000;

}

@media screen and (max-width: 600px) {
  .auth{
    display: none;
  }
  header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1001;
  }
  
  .logo {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1002;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  
  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    z-index: 1000;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a:last-child {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    font-size: 18pxpx;
   
  }
  nav a :first-child{
    text-decoration: none;
    color: #ffd000;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}
