.hero {
  position: relative;
  width: 100%;
  height: 50vh; /* Adjust height as needed */
  overflow: hidden;
}

.hero-carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out; 
}

.hero-image.animate {
  transform: translateX(-100%); /* Slide out animation */
}
.hero-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.cta-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 10px;
}
.cta-btns button:first-child {
  background-color: #fff;
  color: #000;
  padding: 1rem 2rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.cta-btns button:last-child {
  background-color: transparent;
  color: #ffffff;
  padding: 1rem 2rem;
  margin: 10px;
  font-weight: bold;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.hero-content button:hover {
  background-color: #008cff;
}
.hero-next-btn {
 display: none;
}

@media only screen and (max-width: 768px) {
  .hero {
    height: 50vh;
    margin-top: 40px;
  }

  .hero-content {
    padding: 1rem;
    font-size: 1.1rem;
   
  }

  .hero-content h1 {
    font-size: 1.5rem;
  }
}
