.option-tab {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.option-button {
  background-color: #d3d2d2;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.option-button.active {
  background-color: #ff0000;
}


@media (max-width: 768px) {
  .option-tab {
    flex-wrap: wrap;
  }

  .option-button {
    font-size: 14px;
  }
}
